
      <div class="form-style">

        <div class="container-form">
          <h1 ><mat-icon>money</mat-icon>  Dados do Saque</h1>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Número da conta</mat-label>
              <input matInput placeholder="Placeholder">

              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Valor do Saque</mat-label>
              <input matInput placeholder="Placeholder">
              <span matPrefix>$&nbsp;</span>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
        </div>
      </div>
      <button class="button-save" mat-raised-button color="primary">Sacar</button>
