

      <h1 class="title-data"><mat-icon>money</mat-icon>  Dados do Correntista</h1>
      <div class="form-style">

        <div class="container-form-data">

          <p>
            <mat-form-field appearance="fill">
              <mat-label>Nome do correntista</mat-label>
              <input  matInput placeholder="Nome">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint></mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Número da Conta</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>account_balance</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
        </div>
          <div class="container-form-data">
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Saldo</mat-label>
              <input matInput placeholder="Placeholder">

              <mat-icon matSuffix>credit_score</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>CPF</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>info</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
        </div>
      </div>
      <button class="button-save" mat-raised-button color="primary">Atualizar</button>
